.card {
    box-shadow: 0 0 0 rgba($tappan-red, 0);
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        border-left-color: $tappan-red;
        box-shadow: -5px 5px 0 rgba($tappan-red, 1);
    }
}