.main-content {
    .slider-parent {
        position: relative;
        top: 0;
        width: 100%;
        height: 66vh;
        overflow: hidden;
        @include breakpoint(medium only) {
            height: 50vh;
        }
        @include breakpoint(small only) {
            height: 100vh;
        }
        .slider-bg {
            width: 100%;
            height: 100%;
            background-size: 100%;
            content: '\00a0';
            filter: blur(7px);
            transform: translate3d(0, 0, 0) scale(1.1);
            &.blue-duotone {
                background-color: rgba($arboretum-blue, 1);
                background-blend-mode: multiply; // not supported in IE11 or Edge :( 
            }
            &.red-duotone {
                background-color: rgba($tappan-red, 1);
                background-blend-mode: multiply; // see above comment >:|
            }
        }
        .orbit {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            .orbit-wrapper {
                height: 100%;
                .orbit-controls {
                    button {
                        cursor: pointer;
                    }
                }
                .orbit-container {
                    .orbit-slide {
                        color: $white;
                        transition: all .2s ease-in-out;
                        .hed {
                            margin-bottom: 1.5rem;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            .eyebrow {
                                font-family: 'Pathway Gothic One';
                                font-size: 2.25rem;
                                line-height: 1;
                                text-transform: uppercase;
                                color: $ross-orange;
                            }
                            h3 {
                                font-size: 2rem;
                                line-height: 1;
                                padding-bottom: .5rem;
                                border-bottom: 1px solid $white-24;
                                @include breakpoint(medium down) {
                                    font-size: 1.875rem;
                                }
                            }
                        }
                        .dek {
                            font-size: 1.1rem;
                            padding-left: $global-padding;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            @include breakpoint(medium down) {
                                font-size: 1rem;
                            }
                            .cta {
                                font-weight: 700;
                                margin-bottom: 0;
                                a {
                                    color: $michigan-maize;
                                    transition: all .1s ease-in-out;
                                    &:hover {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
                .orbit-bullets {
                    button {
                        cursor: pointer;
                        width: 7px;
                        height: 7px;
                        margin: 0 .75rem;
                        background-color: $white;
                        transition: all .1s ease-in-out;
                        &:hover {
                            background-color: darken($white, 50%);
                        }
                        &.is-active {
                            background-color: $michigan-maize;
                        }
                    }
                }
            }
        }
    }
    @keyframes statsAnimation {
        0% {
            background-position: 0% 15%
        }
        50% {
            background-position: 100% 86%
        }
        100% {
            background-position: 0% 15%
        }
    }
    .stats {
        background: linear-gradient(160deg, $arboretum-blue, $michigan-blue);
        padding: 5rem 0;
        font-family: 'Montserrat';
        font-size: 1.125rem;
        .image {
            a {
                // width: 100%;
                // height: 100%;
                // display: block;
                position: relative;
                .stat {
                    font-family: 'Pathway Gothic One';
                    font-size: 6rem;
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 2px 2px 7px rgba($black, .79);
                }
                img {
                    border-radius: 10rem;
                }
                svg {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -7.5rem;
                    transition: all 1s;
                    transform-origin: 50% 50%;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px transparent;
                    transition-duration: 0.5s;
                    opacity: .5;
                    overflow: visible;
                    &:hover,
                    &:focus,
                    &:active {
                        transform: scale(1.05);
                        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                        opacity: 1;
                    }
                    @include breakpoint(768px down) {
                        bottom: -6.125rem;
                    }
                    @include breakpoint(large only) {
                        bottom: -7.5rem;
                    }
                    @include breakpoint(small only) {
                        bottom: -7.5rem;
                    }
                }
            }
        }
        .dek {
            font-weight: 800;
            color: $white;
            margin-top: 1.5rem;
            margin-bottom: 0;
            text-shadow: 2px 2px 7px rgba($black, .4);
        }
        .cta {
            margin-bottom: 0;
            @include breakpoint(medium down) {
                margin-bottom: 2.5rem;
            }
            a {
                font-weight: 700;
                color: $michigan-maize;
                transition: all .1s ease-in-out;
                text-shadow: 2px 2px 7px rgba($black, .4);
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .aud-row {
        margin-top: 1px;
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 0;
        }
        .column {
            border-right: 1px solid $faintest-gray;
            @include breakpoint(small only) {
                margin-bottom: 2rem;
            }

            .image {
                z-index: 0;
                position: relative;
            }
            .text-box {
                width: 85%;
                padding: 0 .5rem;
                margin: -2.625rem auto 0;
                background-color: $white-100;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                z-index: 1;
                position: relative;
                &:hover {
                    top: -0.0625rem;
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }
                .icon {
                    width: 4rem;
                    margin-bottom: -1.75rem;
                    background-color: $white-100;
                    border-radius: 2rem;
                    margin: 0 auto;
                    position: relative;
                    top: -1.875rem;
                    &.blue {
                        border: 2px solid $michigan-blue;
                    }
                    &.maize {
                        border: 2px solid $michigan-maize;
                    }
                    &.red {
                        border: 2px solid $tappan-red;
                    }
                    &.light-blue {
                        border: 2px solid $arboretum-blue;
                    }
                    &.orange {
                        border: 2px solid $ross-orange;
                    }
                    &.teal {
                        border: 2px solid $taubman-teal;
                    }
                    &.green {
                        border: 2px solid $wave-field-green;
                    }
                    &.purple {
                        border: 2px solid $a2-amethyst;
                    }
                    svg {
                        margin: .875rem;
                        padding: 0;
                        display: block;
                        &.blue {
                            color: $michigan-blue;
                        }
                        &.maize {
                            color: $michigan-maize;
                        }
                        &.red {
                            color: $tappan-red;
                        }
                        &.light-blue {
                            color: $arboretum-blue;
                        }
                        &.orange {
                            color: $ross-orange;
                        }
                        &.teal {
                            color: $taubman-teal;
                        }
                        &.green {
                            color: $wave-field-green;
                        }
                        &.purple {
                            color: $a2-amethyst;
                        }
                    }
                }
                .text {
                    h3 {
                        font-family: 'Pathway Gothic One';
                        text-transform: uppercase;
                        font-weight: normal;
                        font-size: 1.875rem;
                        margin-top: -1.875rem;
                        margin-bottom: 0;
                        &.blue {
                            color: $michigan-blue;
                        }
                        &.maize {
                            color: $michigan-maize;
                        }
                        &.red {
                            color: $tappan-red;
                        }
                        &.light-blue {
                            color: $arboretum-blue;
                        }
                        &.orange {
                            color: $ross-orange;
                        }
                        &.teal {
                            color: $taubman-teal;
                        }
                        &.green {
                            color: $wave-field-green;
                        }
                        &.purple {
                            color: $a2-amethyst;
                        }
                    }
                    .cta {
                        padding-bottom: 1rem;
                        a {
                            font-family: 'Montserrat';
                            font-weight: 700;
                            color: $michigan-blue;
                        }
                    }
                }
            }
        }
    }
    .quote {
    	margin-bottom: 5rem;
    	.quote-container {
    		padding: 1rem;
    		border: 1px solid $tappan-red;
    		&:before {
    			content: '\201D';
    			font-family: 'Cardo';
    			font-size: 9rem;
    			font-weight: 700;
    			color: $tappan-red;
    			background-color: $body-background;
    			display: inline-block;
    			padding: 1rem;
    			margin-top: -5rem;
    			line-height: 1;
    			height: 6rem;
    		}
    		.the-quote {
    			font-size: 3rem;
    			font-style: italic;
    			line-height: 1.2;
    			margin-top: -3rem;
    		}
    	}
    }
}