.main-content {
    .slider-parent {
        position: relative;
        top: 0;
        width: 100%;
        height: 66vh;
        overflow: hidden;
        @include breakpoint(medium only) {
            height: 50vh;
        }
        @include breakpoint(small only) {
            height: 100vh;
        }
        .slider-bg {
            width: 100%;
            height: 100%;
            background-size: 100%;
            content: '\00a0';
            filter: blur(7px);
            transform: translate3d(0, 0, 0) scale(1.1);
            &.blue-duotone {
                background-color: rgba($arboretum-blue, 1);
                background-blend-mode: multiply; // not supported in IE11 or Edge :( 
            }
            &.red-duotone {
                background-color: rgba($tappan-red, 1);
                background-blend-mode: multiply; // see above comment >:|
            }
        }
        .orbit {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            .orbit-wrapper {
                height: 100%;
                .orbit-controls {
                    button {
                        cursor: pointer;
                    }
                }
                .orbit-container {
                    .orbit-slide {
                        color: $white;
                        transition: all .2s ease-in-out;
                        .hed {
                            margin-bottom: 1.5rem;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            .eyebrow {
                                font-family: 'Pathway Gothic One';
                                font-size: 2.25rem;
                                line-height: 1;
                                text-transform: uppercase;
                                color: $ross-orange;
                            }
                            h3 {
                                font-size: 2rem;
                                line-height: 1;
                                padding-bottom: .5rem;
                                border-bottom: 1px solid $white-24;
                                @include breakpoint(medium down) {
                                    font-size: 1.875rem;
                                }
                            }
                        }
                        .dek {
                            font-size: 1.1rem;
                            padding-left: $global-padding;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            @include breakpoint(medium down) {
                                font-size: 1rem;
                            }
                            .cta {
                                font-weight: 700;
                                margin-bottom: 0;
                                a {
                                    color: $michigan-maize;
                                    transition: all .1s ease-in-out;
                                    &:hover {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
                .orbit-bullets {
                    button {
                        cursor: pointer;
                        width: 7px;
                        height: 7px;
                        margin: 0 .75rem;
                        background-color: $white;
                        transition: all .1s ease-in-out;
                        &:hover {
                            background-color: darken($white, 50%);
                        }
                        &.is-active {
                            background-color: $michigan-maize;
                        }
                    }
                }
            }
        }
    }
    @keyframes statsAnimation {
        0% {
            background-position: 0% 15%
        }
        50% {
            background-position: 100% 86%
        }
        100% {
            background-position: 0% 15%
        }
    }
    .stats {
        background: linear-gradient(160deg, $arboretum-blue, $michigan-blue);
        padding: 5rem 0;
        font-family: 'Montserrat';
        font-size: 1.125rem;
        .image {
            a {
                // width: 100%;
                // height: 100%;
                // display: block;
                position: relative;
                .stat {
                    font-family: 'Pathway Gothic One';
                    font-size: 6rem;
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 2px 2px 7px rgba($black, .79);
                }
                img {
                    border-radius: 10rem;
                }
                svg {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -7.5rem;
                    transition: all 1s;
                    transform-origin: 50% 50%;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px transparent;
                    transition-duration: 0.5s;
                    opacity: .5;
                    overflow: visible;
                    &:hover,
                    &:focus,
                    &:active {
                        transform: scale(1.05);
                        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                        opacity: 1;
                    }
                    @include breakpoint(768px down) {
                        bottom: -6.125rem;
                    }
                    @include breakpoint(large only) {
                        bottom: -7.5rem;
                    }
                    @include breakpoint(small only) {
                    	bottom: -7.5rem;
                    }
                }
            }
        }
        .dek {
            font-weight: 800;
            color: $white;
            margin-top: 1.5rem;
            margin-bottom: 0;
            text-shadow: 2px 2px 7px rgba($black, .4);
        }
        .cta {
            margin-bottom: 0;
            @include breakpoint(medium down) {
                margin-bottom: 2.5rem;
            }
            a {
                font-weight: 700;
                color: $michigan-maize;
                transition: all .1s ease-in-out;
                text-shadow: 2px 2px 7px rgba($black, .4);
                &:hover {
                    color: $white;
                }
            }
        }
    }
}