.main-content {
    .slider-parent {
        position: relative;
        top: 0;
        width: 100%;
        height: 66vh;
        overflow: hidden;
        @include breakpoint(medium only) {
            height: 50vh;
        }
        @include breakpoint(small only) {
            height: 100vh;
        }
        .slider-bg {
            width: 100%;
            height: 100%;
            background-size: 100%;
            content: '\00a0';
            filter: blur(7px);
            transform: translate3d(0, 0, 0) scale(1.1);
            &.blue-duotone {
                background-color: rgba($arboretum-blue, 1);
                background-blend-mode: multiply; // not supported in IE11 or Edge :( 
            }
            &.red-duotone {
                background-color: rgba($tappan-red, 1);
                background-blend-mode: multiply; // see above comment >:|
            }
        }
        .orbit {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            .orbit-wrapper {
                height: 100%;
                .orbit-controls {
                    button {
                        cursor: pointer;
                    }
                }
                .orbit-container {
                    .orbit-slide {
                        color: $white;
                        transition: all .2s ease-in-out;
                        .hed {
                            margin-bottom: 1.5rem;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            .eyebrow {
                                font-family: 'Pathway Gothic One';
                                font-size: 2.25rem;
                                line-height: 1;
                                text-transform: uppercase;
                                color: $ross-orange;
                            }
                            h3 {
                                font-size: 2rem;
                                line-height: 1;
                                padding-bottom: .5rem;
                                border-bottom: 1px solid $white-24;
                                @include breakpoint(medium down) {
                                    font-size: 1.875rem;
                                }
                            }
                        }
                        .dek {
                            font-size: 1.1rem; // padding-left: $global-padding;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            @include breakpoint(medium down) {
                                font-size: 1rem;
                            }
                            .cta {
                                font-weight: 700;
                                margin-bottom: 0;
                                a {
                                    color: $michigan-maize;
                                    transition: all .1s ease-in-out;
                                    &:hover {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
                .orbit-bullets {
                    button {
                        cursor: pointer;
                        width: 7px;
                        height: 7px;
                        margin: 0 .75rem;
                        background-color: $white;
                        transition: all .1s ease-in-out;
                        &:hover {
                            background-color: darken($white, 50%);
                        }
                        &.is-active {
                            background-color: $michigan-maize;
                        }
                    }
                }
            }
        }
    }
    @keyframes statsAnimation {
        0% {
            background-position: 0% 15%
        }
        50% {
            background-position: 100% 86%
        }
        100% {
            background-position: 0% 15%
        }
    }
    .stats {
        background: linear-gradient(160deg, $arboretum-blue, $michigan-blue);
        padding: 5rem 0;
        font-family: 'Montserrat';
        font-size: 1.125rem;
        @include breakpoint(small only) {
            padding: 3rem 0 0;
        }
        .image {
            a {
                position: relative;
                .stat {
                    font-family: 'Pathway Gothic One';
                    font-size: 6rem;
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 2px 2px 7px rgba($black, .79);
                }
                img {
                    border-radius: 10rem;
                }
                svg {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -7.5rem;
                    transition: all 1s ease;
                    transform-origin: 50% 50%;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px transparent;
                    transition-duration: 0.5s;
                    opacity: .5;
                    overflow: visible;
                    &:hover,
                    &:focus,
                    &:active {
                        transform: scale(1.05);
                        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                        opacity: 1;
                        circle {
                            stroke: $michigan-maize;
                            stroke-dasharray: 0 2.875;
                        }
                    }
                    @include breakpoint(768px down) {
                        bottom: -6.125rem;
                    }
                    @include breakpoint(large only) {
                        bottom: -7.5rem;
                    }
                    @include breakpoint(small only) {
                        bottom: -7.5rem;
                    }
                }
            }
        }
        .dek {
            font-weight: 800;
            color: $white;
            margin-top: 1.5rem;
            margin-bottom: 0;
            text-shadow: 2px 2px 7px rgba($black, .4);
        }
        .cta {
            margin-bottom: 0;
            @include breakpoint(medium down) {
                margin-bottom: 2.5rem;
            }
            a {
                font-weight: 700;
                color: $michigan-maize;
                transition: all .1s ease-in-out;
                text-shadow: 2px 2px 7px rgba($black, .4);
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .aud-row {
        margin-top: 1px;
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .column {
            border-right: 1px solid $faintest-gray;
            &:hover {
                .text-box {
                    top: -0.0625rem;
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }
            }
            @include breakpoint(small only) {
                margin-bottom: 2rem;
                border-right: 0;
            }

            .image {
                z-index: 0;
                position: relative;
            }
            .text-box {
                width: 85%;
                padding: 0 .5rem;
                margin: -2.625rem auto 0;
                background-color: $white-100;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                z-index: 1;
                position: relative;
                &.blue {
                    .icon {
                        border: 2px solid $michigan-blue;
                        svg {
                            color: $michigan-blue;
                        }
                    }
                    .text {
                        h3 {
                            color: $michigan-blue;
                        }
                    }
                }
                &.maize {
                    .icon {
                        border: 2px solid $michigan-maize;
                        svg {
                            color: $michigan-maize;
                        }
                    }
                    .text {
                        h3 {
                            color: $michigan-maize;
                        }
                    }
                }
                &.red {
                    .icon {
                        border: 2px solid $tappan-red;
                        svg {
                            color: $tappan-red;
                        }
                    }
                    .text {
                        h3 {
                            color: $tappan-red;
                        }
                    }
                }
                &.light-blue {
                    .icon {
                        border: 2px solid $arboretum-blue;
                        svg {
                            color: $arboretum-blue;
                        }
                    }
                    .text {
                        h3 {
                            color: $arboretum-blue;
                        }
                    }
                }
                &.orange {
                    .icon {
                        border: 2px solid $ross-orange;
                        svg {
                            color: $ross-orange;
                        }
                    }
                    .text {
                        h3 {
                            color: $ross-orange;
                        }
                    }
                }
                &.teal {
                    .icon {
                        border: 2px solid $taubman-teal;
                        svg {
                            color: $taubman-teal;
                        }
                    }
                    .text {
                        h3 {
                            color: $taubman-teal;
                        }
                    }
                }
                &.green {
                    .icon {
                        border: 2px solid $wave-field-green;
                        svg {
                            color: $wave-field-green;
                        }
                    }
                    .text {
                        h3 {
                            color: $wave-field-green;
                        }
                    }
                }
                &.purple {
                    .icon {
                        border: 2px solid $a2-amethyst;
                        svg {
                            color: $a2-amethyst;
                        }
                    }
                    .text {
                        h3 {
                            color: $a2-amethyst;
                        }
                    }
                }
                .icon {
                    width: 4rem;
                    margin-bottom: -1.75rem;
                    background-color: $white-100;
                    border-radius: 2rem;
                    margin: 0 auto;
                    position: relative;
                    top: -1.875rem;
                    svg {
                        margin: .875rem;
                        padding: 0;
                        display: block;
                    }
                }
                .text {
                    h3 {
                        font-family: 'Pathway Gothic One';
                        text-transform: uppercase;
                        font-weight: normal;
                        font-size: 1.875rem;
                        margin-top: -1.875rem;
                        margin-bottom: 0;
                    }
                    p {
                        color: $black;
                    }
                    .cta {
                        font-family: 'Montserrat';
                        font-weight: 700;
                        padding-bottom: 1rem;
                    }
                }
            }
            a {
                color: $black;
                &:hover {
                    .cta {
                        color: $tappan-red;
                    }
                }
            }
        }
    }
    .quote {
        margin-bottom: 5rem;
        .quote-container {
            padding: 1rem;
            border: 1px solid $tappan-red;
            &:before {
                content: '\201D';
                font-family: 'Cardo';
                font-size: 9rem;
                font-weight: 700;
                color: $tappan-red;
                background-color: $body-background;
                display: inline-block;
                padding: 1rem;
                margin-top: -4.75rem;
                line-height: 1;
                height: 6rem;
            }
            .the-quote {
                color: $black;
                border: 0;
                font-size: 3rem;
                font-style: italic;
                line-height: 1.2;
                margin-top: -3.75rem;
                @include breakpoint(small only) {
                    font-size: 1.5rem;
                }
            }
            cite {
                font-family: 'Montserrat';
                font-style: normal;
                color: $black;
                font-size: 1.25rem;
                @include breakpoint(small only) {
                    font-size: 1rem;
                }
            }
            .cta {
                a {
                    font-family: 'Montserrat';
                    font-weight: bold;
                    color: $tappan-red;
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: darken($tappan-red, 15%);
                    }
                }
                @include breakpoint(small only) {
                    font-size: .9rem;
                }
            }
        }
    }
    .feeds {
        margin-bottom: 5rem;
        .news {
            padding: $global-padding;
            background-color: $white-100;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            @include breakpoint(small only) {
                margin-bottom: 1.25rem;
            }
            .section_title {
                font-size: 1.875rem;
                font-family: 'Pathway Gothic One';
                text-transform: uppercase;
                margin-bottom: $global-padding;
                line-height: 1;
                svg {
                    color: $ross-orange;
                }
                span {
                    margin-left: .5rem;
                }
                a {
                    font-size: .875rem;
                    font-family: 'Montserrat';
                    font-weight: 700;
                    text-transform: none;
                    color: $black;
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: $tappan-red;
                    }
                }
            }
            .article {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                a {
                    color: $black;
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: $tappan-red;
                        .border {
                            .stroke {
                                stroke: $tappan-red;
                                stroke-dasharray: 1;
                            }
                        }
                    }
                    .text {
                        padding-left: $global-padding;
                        @include breakpoint(small only) {
                            padding-left: 0;
                            padding-right: $global-padding;
                        }
                        .hed {
                            font-family: 'Montserrat';
                            font-weight: 700;
                            font-size: 1.85rem;
                            line-height: 1.2;
                            @include breakpoint(small only) {
                                font-size: .9rem;
                            }
                        }
                        .dek {
                            font-size: 1.125rem;
                            margin-bottom: 0;
                            @include breakpoint(small only) {
                                font-size: .9rem;
                            }
                        }
                    }
                    .border {
                        margin-top: 2rem;
                        height: 1px;
                        .stroke {
                            stroke: $dark-gray;
                            transition: all .1s ease;
                        }
                    }
                }
                &:last-child {
                    svg {
                        display: none;
                    }
                }
            }
        }
        .promos {
            .callout {
                padding-top: 0;
                padding-bottom: 0;
                border: 0;
                background-color: transparent;
                .promo {
                    padding: $global-padding;
                    background-color: $arboretum-blue;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                    margin-bottom: 1rem;
                }
                .events {
                    padding: 0;
                    background-color: $michigan-blue;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                    color: $white;
                    .section_title {
                        font-size: 1.875rem;
                        font-family: 'Pathway Gothic One';
                        text-transform: uppercase;
                        margin-bottom: $global-padding;
                        padding: $global-padding;
                        line-height: 1;
                        background-color: lighten($michigan-blue, 3%);
                        svg {
                            color: lighten($arboretum-blue, 19.75%);
                        }
                        span {
                            margin-left: .5rem;
                        }
                        a {
                            font-size: .875rem;
                            font-family: 'Montserrat';
                            font-weight: 700;
                            text-transform: none;
                            color: $white;
                            transition: all .2s ease-in-out;
                            &:hover {
                                color: $michigan-maize;
                            }
                        }
                    }
                    .event_wrap {
                        padding-left: $global-padding;
                        padding-right: $global-padding;
                        a {
                            color: $white;
                            transition: all .2s ease-in-out;
                            &:hover {
                                color: $michigan-maize;
                            }
                        }
                        .row {
                            margin-bottom: 2rem;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .title {
                            margin-bottom: 0;
                            line-height: 1.2;
                            font-size: 1.25rem;
                            font-family: 'Montserrat';
                            font-weight: 700;
                        }
                        .location {
                            margin-bottom: 0;
                            line-height: 1.2;
                            font-size: 1rem;
                        }
                        .date {
                            margin-right: 10px;
                            .month,
                            .day {
                                font-family: 'Pathway Gothic One';
                                color: lighten($arboretum-blue, 19.75%);
                                padding-right: 5px;
                                border-right: 2px solid lighten($arboretum-blue, 19.75%);
                                font-size: 2.25rem;
                                text-transform: uppercase;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}