.navigation-alt {
    .top-bar-left {
        .top-bar-title {
            .logo {
                padding: 1.2rem;
                height: auto;
                display: block;
                background-color: $michigan-blue;
                img {
                    width: 100%;
                }
            }
        }
    }
    .top-bar-right {
        .global-nav {
            font-size: .625rem;
            font-family: $header-font-family;
            padding: .25rem 0;
            background-color: darken($michigan-blue, 7%);
            .global-items {
                background-color: transparent;
                li {
                    a {
                        color: darken($michigan-maize, 7%);
                        text-transform: uppercase;
                        transition: color .2s ease-in-out;
                        &:hover {
                            color: $michigan-maize;
                        }
                        &:after {
                            content: '|';
                            padding-left: 2rem;
                        }
                    }
                    &:last-child {
                        a {
                            &:after {
                                content: '';
                            }
                        }
                    }
                }
            }
        }
        .main-menu {
            height: 60%;
            .dropdown {
                font-family: $super-header-font-family;
                text-transform: uppercase;
                li {
                    a {
                        font-size: 1.2rem;
                        color: $white;
                        transition: all .2s ease-in-out;
                        &:hover {
                            color: $michigan-maize;
                            transition: all .2s ease-in-out;
                        }
                    }
                    &.search {
                        align-self: center;
                        button {
                            cursor: pointer;
                            transition: all .2s ease-in-out;
                            &:hover {
                                .fa-search {
                                    transition: all .2s ease-in-out;
                                    color: $michigan-maize;
                                }
                            }
                            &.hover {
                                .fa-search {
                                    color: $michigan-maize;
                                }
                            }
                        }
                    }
                    &.is-active {
                        a {
                            color: $michigan-maize;
                        }
                        .submenu {
                            a {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}