.no-js {
    @include breakpoint(small only) {
        .navigation-alt {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .navigation-alt {
            display: none;
        }
    }
}

.navigation-alt {
    height: 6.25rem;
    &.is-stuck {
        box-shadow: 0px 5px 8px 0px $black-26;
    }
    .top-bar-left {
        background-color: $michigan-blue;
        overflow: hidden;
        .top-bar-title {
            .logo {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: .85rem;
                img {
                    @include breakpoint(xxlarge) {
                        width: 70%;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }
    .top-bar-right {
        .global-nav {
            font-size: .625rem;
            font-family: $header-font-family;
            font-weight: 700;
            padding: .25rem 0;
            background-color: darken($michigan-blue, 7%);
            .global-items {
                background-color: transparent;
                li {
                    a {
                        color: darken($michigan-maize, 10%);
                        text-align: center;
                        text-transform: uppercase;
                        transition: color .2s ease-in-out;
                        &:hover {
                            color: $michigan-maize;
                        }
                        &:after {
                            content: '|';
                            margin-left: 2rem;
                        }
                    }
                    &:last-child {
                        a {
                            &:after {
                                content: '';
                            }
                        }
                    }
                }
            }
        }
        .main-menu {
            height: 60%;
            .dropdown {
                height: 100%;
                font-family: $super-header-font-family;
                text-transform: uppercase;
                li {
                    a {
                        display: flex;
                        height: 100%;
                        font-size: 1.2rem;
                        color: $white;
                        transition: all .2s ease-in-out;
                        @extend .align-middle;
                        &:hover {
                            color: $michigan-maize;
                            transition: all .2s ease-in-out;
                        }
                        i {
                            font-size: 1rem;
                        }
                    }
                    &.is-active {
                        a {
                            color: $black-100;
                            background-color: $michigan-maize;
                            i {
                                color: $black-100;
                            }
                            &:after {
                                border-color: $black-100 transparent transparent;
                            }
                        }
                        .submenu {
                            a {
                                color: $white;
                            }
                        }
                    }
                    .search-drop {
                        padding: 1rem;
                        max-width: none;
                        width: 22rem;
                        font-family: $header-font-family;
                        label {
                            color: $white;
                            font-family: $header-font-family;
                        }
                    }
                    .submenu {
                        border-top: 2px solid $michigan-maize;
                        li {
                            a {
                                font-size: .95rem;
                                font-family: $header-font-family;
                                text-transform: none;
                                padding: .7rem 1.125rem;
                                display: block;
                                line-height: 1.2;
                                background-color: $black-100;
                                &:hover {
                                    color: $michigan-maize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}