<div class="column small-12 medium-4 large-4 promo-col">
    <div class="promo custom-01 row black">
        <div class="column">
            <div class="promo-inner">
                <p><span class="small">The</span> <span>DAILY PLANET</span></p>
                <p class="cta"><a href="#">Read our newsletter »</a></p>
            </div>
        </div>
    </div>
    <div class="promo custom-02 row blue-duotone">
        <div class="column">
            <div class="promo-inner">
                <p class="rule">Jobs for Grads</p>
                <p class="cta"><a href="#">Who's hiring now »</a></p>
            </div>
        </div>
    </div>
</div>
<div class="column small-12 medium-4 large-4 promo-col">
    <div class="promo custom-03 row yellow-duotone">
        <div class="column">
            <div class="promo-inner">
                <p><a href="#">Seminars</a></p>
                <p class="cta"><a href="#">Recording Archive</a></p>
            </div>
        </div>
    </div>
    <div class="promo custom-04 row dark-blue-duotone">
        <div class="column">
            <div class="promo-inner">
                <p><span>Climate</span> <span>&amp; Space</span></p>
                <p>Seeks a new department chair</p>
                <p class="cta"><a href="#">Apply »</a></p>
            </div>
        </div>
    </div>
</div>