<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <ul class="vertical menu" id="menu">
        <li><a href="#">Foundation</a></li>
        <li><a href="#">Dot</a></li>
        <li><a href="#">ZURB</a></li>
        <li><a href="#">Com</a></li>
        <li><a href="#">Slash</a></li>
        <li><a href="#">Sites</a></li>
    </ul>
</div>
<nav class="site-navigation top-bar navigation-alt-mobile" role="navigation" data-responsive-toggle="navigation" data-hide-for="medium">
    <div class="title-bar">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
        </div>
        <div class="title-bar-right">
            <div class="title-bar-title"><a class="logo" href="{{root}}/index-nav-test.html"><img src="{{root}}assets/img/CoE-horiz-rev.svg" alt="College of Engineering | University of Michigan"></a></div>
        </div>
    </div>
</nav>
<div class="nav-wrapper" data-sticky-container>
    <nav class="site-navigation top-bar navigation-alt grid-x align-stretch" role="navigation" id="navigation" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left cell small-1">
            <div class="site-desktop-title top-bar-title">
                <a class="logo" href="{{root}}/index-nav-test.html"><img src="{{root}}assets/img/CoE-block-m.svg" alt="College of Engineering | University of Michigan"></a>
            </div>
        </div>
        <div class="top-bar-right cell small-11 auto">
            <div class="grid-x grid-padding-x global-nav align-right">
                <ul class="menu global-items">
                    <li><a href="#">Apply</a></li>
                    <li><a href="#">Give</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="grid-x grid-padding-x main-menu align-middle align-right">
                <ul class="dropdown menu cell large-11 align-spaced" data-dropdown-menu data-options="alignment: auto; autoClose: true; closeOnClickInside: false;">
                    <li>
                        <a href="#">About</a>
                        <ul class="menu vertical">
                            <li><a href="#">About</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Research</a>
                        <ul class="menu vertical">
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Research</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Academics</a>
                        <ul class="menu vertical">
                            <li><a href="#">Academics</a></li>
                            <li><a href="#">Academics</a></li>
                            <li><a href="#">Academics</a></li>
                            <li><a href="#">Academics</a></li>
                            <li><a href="#">Academics</a></li>
                            <li><a href="#">Academics</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Admissions</a>
                        <ul class="menu vertical">
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Admissions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Departments</a>
                        <ul class="menu vertical">
                            <li><a href="#">Aerospace Engineering</a></li>
                            <li><a href="#">Biomedical Engineering</a></li>
                            <li><a href="#">Chemical Engineering</a></li>
                            <li><a href="#">Civil &amp; Environmental Engineering</a></li>
                            <li><a href="#">Climate &amp; Space Sciences &amp; Engineering</a></li>
                            <li><a href="#">Electrical Engineering &amp; Computer Science</a></li>
                            <li><a href="#">Industrial &amp; Operations Engineering</a></li>
                            <li><a href="#">Integrative Systems + Design</a></li>
                            <li><a href="#">Materials Science &amp; Engineering</a></li>
                            <li><a href="#">Mechanical Engineering</a></li>
                            <li><a href="#">Naval Architecture &amp; Marine Engineering</a></li>
                            <li><a href="#">Interdisciplinary Graduate Programs</a></li>
                            <li><a href="#">College-Wide Offerings</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Giving</a>
                        <ul class="menu vertical">
                            <li><a href="#">Giving</a></li>
                            <li><a href="#">Giving</a></li>
                            <li><a href="#">Giving</a></li>
                            <li><a href="#">Giving</a></li>
                            <li><a href="#">Giving</a></li>
                            <li><a href="#">Giving</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-search fa-inverse" aria-hidden="true"></i>
                    <div class="icon_label search show-for-sr">Search</div></a>
                        <ul class="menu vertical search-drop">
                            <li>
                                <form class="search column small-12 align-center" action="#" target="_blank" method="get">
                                    <label for="input-group">Enter search term(s)</label>
                                    <div class="input-group">
                                        <input class="input-group-field" type="text" id="input-group" name="search" placeholder="Search...">
                                        <input type="submit" class="button" value="go">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>