<div id="skip"><a href="#content">Skip to Main Content</a></div>
<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <nav class="site-navigation top-bar navigation-alt" role="navigation">
        <div class="title-bar" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="roffCanvas"></button>
            <div class="title-bar-title"><a class="logo" href="{{root}}/index-nav-test.html"><img src="{{root}}assets/img/CoE-block-m.svg" alt="College of Engineering | University of Michigan"></a></div>
        </div>
        <ul class="vertical menu">
            <li><a href="#">Foundation</a></li>
            <li><a href="#">Dot</a></li>
            <li><a href="#">ZURB</a></li>
            <li><a href="#">Com</a></li>
            <li><a href="#">Slash</a></li>
            <li><a href="#">Sites</a></li>
        </ul>
    </nav>
</div>
<nav class="site-navigation top-bar navigation-alt grid-x align-stretch" role="navigation">
    <div class="top-bar-left cell small-1">
        <div class="site-desktop-title top-bar-title">
            <a class="logo" href="{{root}}/index-nav-test.html"><img src="{{root}}assets/img/CoE-block-m.svg" alt="College of Engineering | University of Michigan"></a>
        </div>
    </div>
    <div class="top-bar-right cell small-11 auto">
        <div class="grid-x grid-padding-x global-nav align-right">
            <ul class="menu global-items">
                <li><a href="#">Apply</a></li>
                <li><a href="#">Give</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="grid-x main-menu align-middle">
            <ul class="dropdown menu cell align-spaced" data-dropdown-menu data-alignment="auto" data-click-open="true" data-disable-hover="true">
                <li class="opens-right">
                    <a href="#">About</a>
                    <ul class="menu vertical">
                        <li><a href="#">About</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Research</a>
                    <ul class="menu vertical">
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Research</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Academics</a>
                    <ul class="menu vertical">
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Academics</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Admissions</a>
                    <ul class="menu vertical">
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Admissions</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Departments</a>
                    <ul class="menu vertical">
                        <li><a href="#">Departments</a></li>
                        <li><a href="#">Departments</a></li>
                        <li><a href="#">Departments</a></li>
                        <li><a href="#">Departments</a></li>
                        <li><a href="#">Departments</a></li>
                        <li><a href="#">Departments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Giving</a>
                    <ul class="menu vertical">
                        <li><a href="#">Giving</a></li>
                        <li><a href="#">Giving</a></li>
                        <li><a href="#">Giving</a></li>
                        <li><a href="#">Giving</a></li>
                        <li><a href="#">Giving</a></li>
                        <li><a href="#">Giving</a></li>
                    </ul>
                </li>
                <li>
                    <button class="menu_icon"><i class="fa fa-search" aria-hidden="true"></i>
                        <div class="icon_label search show-for-sr">search</div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>